
        
        div.scrollmenu {
            background-color:#4a496d;
            overflow: auto;
            white-space: nowrap;
        }
        
        div.scrollmenu a {
            display: inline-block;
            color:white ;
            text-align: center;
            padding: 20px;
            text-decoration:italic ;
        }
        
        
        div.scrollmenu a:hover {
            background-color: black;
        }
        
        
        body { 
    background-image: url('/pics/rami_bank.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}
      
   
    
  
    #box {text-align: center}

.button		{
			
			border-radius: 10px;
			width:80px;
			height: 40px;
			color: #1f9991; 
			font-size: 20px;
			line-height: 40px;
			background-color:#4a496d;
			}
#button_c		{
			
			border-radius: 10px;
			width:80px;
			height: 40px;
			color: red; 
			font-size: 20px;
			line-height: 40px;
			background-color:black;
			}



         

				
   

